<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menupos-fixed menu-light ">
	<div class="navbar-wrapper  ">
		<div class="navbar-content scroll-div ">
			<ul class="nav pcoded-inner-navbar ">
				<li class="nav-item pcoded-menu-caption">
					<label>Navigation</label>
				</li>
				<li class="nav-item">
					<a href="/backlog/" class="nav-link "><span class="pcoded-micon"><i
								class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
				</li>
				<li class="nav-item pcoded-menu-caption">
					<label>Backlog</label>
				</li>
				<li class="nav-item">
					<a href="/backlog/pedidos/tbl_pedidos.html" class="nav-link "><span class="pcoded-micon"><i
								class="feather icon-align-justify"></i></span><span
							class="pcoded-mtext">Backlog</span></a>
				</li>
				<li class="nav-item">
					<a href="{% url 'apps_Pedido_index' %}" class="nav-link "><span class="pcoded-micon"><i
								class="feather icon-align-justify"></i></span><span
							class="pcoded-mtext">Pedidos</span></a>
				</li>
				<li class="nav-item">
					<a href="{% url 'upl_pedidos' %}" class="nav-link "><span class="pcoded-micon"><i
								class="feather icon-share"></i></span><span class="pcoded-mtext">Upload Report
							B2B</span></a>
				</li>
				<li class="nav-item">
					<a href="/backlog/pedidos/upl_status.html" class="nav-link "><span class="pcoded-micon"><i
								class="feather icon-share"></i></span><span class="pcoded-mtext">Upload
							Status</span></a>
				</li>
				<li class="nav-item pcoded-menu-caption">
					<label>UI Element</label>
				</li>
				<li class="nav-item">
					<a href="/backlog/bc_typography.html" class="nav-link "><span class="pcoded-micon"><i
								class="feather icon-box"></i></span><span class="pcoded-mtext">Typography</span></a>
				</li>
				<li class="nav-item">
					<a href="/backlog/icon-feather.html" class="nav-link "><span class="pcoded-micon"><i
								class="feather icon-feather"></i></span><span class="pcoded-mtext">Icons</span></a>
				</li>
				<li class="nav-item pcoded-menu-caption">
					<label>table</label>
				</li>
				<li class="nav-item">
					<a href="/backlog/tbl_bootstrap.html" class="nav-link "><span class="pcoded-micon"><i
								class="feather icon-align-justify"></i></span><span class="pcoded-mtext">Bootstrap
							table</span></a>
				</li>
				<li class="nav-item pcoded-menu-caption">
					<label>Chart & Maps</label>
				</li>
				<li class="nav-item">
					<a href="/backlog/chart-apex.html" class="nav-link "><span class="pcoded-micon"><i
								class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Chart</span></a>
				</li>
				<li class="nav-item">
					<a href="/backlog/map-google.html" class="nav-link "><span class="pcoded-micon"><i
								class="feather icon-map"></i></span><span class="pcoded-mtext">Maps</span></a>
				</li>
				<li class="nav-item pcoded-menu-caption">
					<label>Pages</label>
				</li>
				<li class="nav-item pcoded-hasmenu">
					<a href="#" class="nav-link "><span class="pcoded-micon"><i
								class="feather icon-lock"></i></span><span
							class="pcoded-mtext">Authentication</span></a>
					<ul class="pcoded-submenu">
						<li><a href="/backlog/auth-signup.html" target="_blank">Sign up</a></li>
						<li><a href="/backlog/auth-signin.html" target="_blank">Sign in</a></li>
					</ul>
				</li>
				<li class="nav-item pcoded-menu-caption">
					<label>Other</label>
				</li>
				<li class="nav-item pcoded-hasmenu">
					<a href="#" class="nav-link "><span class="pcoded-micon"><i
								class="feather icon-menu"></i></span><span class="pcoded-mtext">Menu levels</span></a>
					<ul class="pcoded-submenu">
						<li><a href="#">Menu Level 2.1</a></li>
						<li class="pcoded-hasmenu">
							<a href="#">Menu level 2.2</a>
							<ul class="pcoded-submenu">
								<li><a href="#">Menu level 3.1</a></li>
								<li><a href="#">Menu level 3.2</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="nav-item"><a href="/backlog/sample-page.html" class="nav-link "><span class="pcoded-micon"><i
								class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample
							page</span></a></li>
			</ul>

			<div class="card text-center">
				<div class="card-body px-3">
					<i class="feather icon-sunset f-40"></i>
					<h6 class="mt-3">Field Manager</h6>
					<p></p>
					<a href="mailto:genildo.ferreira@telefonica.com?subject=Field%20Manager%20-%20Suporte"
						target="_blank" class="btn btn-primary btn-sm text-white m-0">Suporte</a>
				</div>
			</div>

		</div>
	</div>
</nav>
<!-- [ navigation menu ] end -->